body, html {
    font-family: serif;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

p.center {
    text-align: center;
}

.heavy {
    margin-bottom: 0px;
}
.light {
    margin-top: 0px;
}

small.weightless {
    font-weight: normal;
}

div.center {
    position: absolute;
    top: 47%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

ul.unstyled {
    list-style-type: none;
}

span.date {
    color: #6a737d;
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
}

div.light-seperator {
    margin-bottom: 0.6em;
    padding-bottom: 0.6em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
}

div.box {
    width: 90%;
}
div.small-box {
    width: 90%;
}
div.medium-box {
    width: 90%;
}

@media (min-width: 400px) {
    div.box {
        width: 80%;
    }
    div.small-box {
        width: 80%;
    }
    div.medium-box {
        width: 80%;
    }
}

@media (min-width: 550px) {
    div.box {
        width: 70%;
    }
    div.small-box {
        width: 60%;
    }
    div.medium-box {
        width: 65%;
    }
}

@media (min-width: 750px) {
    div.box {
        width: 60%;
    }
    div.small-box {
        width: 50%;
    }
    div.medium-box {
        width: 55%;
    }
}

@media (min-width: 950px) {
    div.box {
        width: 50%;
    }
    div.small-box {
        width: 25%;
    }
    div.medium-box {
        width: 40%
    }
}
