<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A page containing, surprisingly, words.">
	<meta name="author" content="Me.">

	<link rel="icon" href="./static/favicon.png">

	<style>
		h3 a {
			color: #333 !important;
			font-weight: normal;		
		}

		h3 {
			margin-top: 2px !important;
			margin-bottom: 2px !important;
		}

		span.date {
			color: #6a737d;
			font-size: 14px;
			font-weight: normal;
			white-space: nowrap;
		}

		div.light-seperator {
			margin-bottom: 0.6em;
			padding-bottom: 0.6em;
			font-size: 1.5em;
			border-bottom: 1px solid #eaecef;
		}
	</style>

	<title>words</title>
</head>
<body>
	<div class="markdown-body">
		<h2>lw's words</h2>

		Most of my projects and code can be found on 
		<a href="https://github.com/LW2904/">GitHub</a> and 
		<a href="https://gitlab.com/fsoc">GitLab</a>, for contact information see 
		<a href="https://lw.ag">lw.ag/</a>.<br>

		If you come across any errors in the following posts, please feel free to send me an 
		email about it. All code on this site is released to the public domain -- for more 
		information see <a href="http://unlicense.org/">unlicense.org</a>.

		<div class="light-seperator"></div>

		{{#items}}
			<div class="item">
				<h3>
					<a href="./{{slug}}/">{{title}}</a>
					<span class="date" title="{{date}}">{{date}}</span>
				</h3>
			</div>
		{{/items}}
	</div>

	<script src="./static/js/utils.js"></script>	
	<script>

		const items = document.getElementsByClassName("item");

		for (const item of items) {
			const span = item.children[0].children[1];
			const date = new Date(span.getAttribute("title"));

			span.innerHTML = prettyDate(date);
		}

	</script>

	<link rel="stylesheet" href="./static/css/markdown.css">	
</body>

</html>
