<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A page containing, surprisingly, words.">
	<meta name="author" content="Me.">

	<link rel="icon" href="../static/favicon.png">
	<link rel="stylesheet" href="../static/css/markdown.css">
	<link rel="stylesheet" href="../static/css/highlighting.css">

	<title>{{title}}</title>
</head>

<body>
	<div class="markdown-body">
		{{#hidden}}
			You are viewing a <i>hidden</i> document. It is not indexed and
			only available through this link.
		{{/hidden}}

		<h1>{{title}}</h1>

		{{{content}}}
	</div>

</body>

</html>